{% load static %}

<footer>
    <div class="footer-container">
        <div class="footer-row-1">
            <div class="footer-col-1">
                <a class ="footer-logo" href="{% url 'advert:home' %}">
                    <img class="footer-logo-img" src = "{% static 'icons/logo.svg' %}">
                </a>
                <p class="footer-about">
                    DriveHub — це зручна платформа для автовласників, яка допомагає легко продавати та купувати за своїм авто.
                </p>
            </div>
            <div class="footer-col-2">
                <div class="nav-col">
                    <span>Сервіси</span>
                    <a href="#">Продажа авто</a>
                    <a href="#">Для бізнесу</a>
                </div>
                <div class="nav-col">
                    <span>Про компанію</span>
                    <a href="#">Вакансії</a>
                </div>
                <div class="nav-col">
                    <span>Тех. підтримка</span>
                    <a href="#">Допомога по сайту</a>
                    <a href="#">help@drivehub.com.ua</a>
                    <a href="#">Telegram @drivehub_ua</a>
                </div>
            </div>
        </div>
        <div class="footer-row-2">
            <p class="footer-copy">
                2025 drivehub.com.ua
            </p>
            <div class="footer-rights">
                <a href="#">
                    Користувацька угода
                </a>
                <a href="#">
                    Політика приватності
                </a>
            </div>
        </div>
    </div>
</footer>