/* HEADER */

header {
    width: 100%;
}

.header-container {
    width: 1220px;
    margin: 0 auto;
    height: max-content;
    padding: 18px 0;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    width: 100%;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo-img {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu{
    display: flex;
    height: 100%;
    width: max-content;
    list-style: none;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    display: flex;
    margin-right: 36px;
    height: 100%;
    width: max-content;
}

.l {
    margin-right: 14px;
    position: relative;
}

.menu-item:last-of-type {
    margin: 0;
}

.header-menu-link {
    font: 16px "Inter", sans-serif;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.login-btn {
    display: flex;
    width: max-content;
    background-color: rgb(245, 246, 247);
    border-radius: 8px;
    height: 42px;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    display: flex;
    align-items: center;
    width: 115px;
}

.header-profile-logo {
    color: rgb(128, 129, 145);
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 246, 247);
    min-width: 42px;
    min-height: 42px;
    width: 42px;
    height: 42px;
    font-weight: 500;
}

.login-img-container {
    width: 18.5px;
    height: 18.5px;
}

.login-img-container img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.login-title {
    font: 16px Inter, sans-serif;
    font-weight: 600;
    color: #9a9ea7;
}





.create-btn {
    display: flex;
    width: 160px;
    background-color: rgb(94, 178, 96);
    border-radius: 8px;
    height: 42px;
    justify-content: center;
}

.create {
    column-gap: 10px;
    display: flex;
    align-items: center;
}

.create-img-container {
    width: 18.5px;
    height: 18.5px;
}

.create-img-container img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.create-title {
    font: 16px Inter, sans-serif;
    font-weight: 500;
    color: white;
}

.menu {
    opacity: 0;
    display: flex;
    visibility: hidden;
    transition: 0.35s all ease;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 30px 0px;
    translate: -50%;
    flex-direction: column;
    position: absolute;
    top: 53px;
    left: 50%;
    width: max-content;
    height: max-content;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    padding: 18px;
    row-gap: 4px;
    border-radius: 8px;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 8px 14px 8px 8px;
    column-gap: 19px;
    border-radius: 8px;
}

.menu .blue-icon{
    display: none;
}

.menu .black-icon{
    display: flex;
}

.l:hover {
    .menu {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}

.menu a:hover {
    background-color: #188fff0a;
    color: #1890FF;
    .blue-icon {
        display: flex;
    }
    .black-icon {
        display: none;
    }
}

@media (max-width: 1251px) {
    .header-container {
        width: 911px;
    }
}

@media (max-width: 942px) {
    .header-container {
        width: 602px;
    }

    .header-menu .menu-item:nth-of-type(1) {
        display: none;
    }
    .header-menu .menu-item:nth-of-type(2) {
        display: none;
    }
    .header-menu .menu-item:nth-of-type(3) {
        margin-right: 20px;
    }
}

@media (max-width: 633px) {
    .header-container {
        width: 293px;
    }

    .menu {
        translate: -90%;
    }

    .header-menu .menu-item:nth-of-type(1) {
        display: none;
    }
    .header-menu .menu-item:nth-of-type(2) {
        display: none;
    }
    .header-menu .menu-item:nth-of-type(3) {
        display: none;
    }
    .header-menu .menu-item:nth-of-type(4) {
        margin-right: 0;
    }
    .header-menu .menu-item:nth-of-type(5) {
        display: none;
    }
}