{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - Вхід</title>
    <link rel="icon" href="{% static 'icons/favicon.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/login.css' %}">
</head>
<body>
    <div class="login">
        <div class="login-col-1">
            <a class="login-logo" href="{% url 'advert:home' %}"><img class="login-logo-img" src = "{% static 'icons/logo-white.svg' %}"></a>
            <div class="img-container">
                <img src="{% static 'account/images/login.png' %}" alt="">
            </div>
            <div class="title-text">
                <h1 class="title">
                    Сучасна автомобільна платформа
                </h1>
                <p class="sub-title">
                    Все що тобі потрібно для автомобіля. Ти знайдеш у нас!
                </p>
            </div>
        </div>
        <div class="login-col-2">
            <div class="login-form">
                <h1 class="form-title-1">
                    Вхід на сайт
                    <span class="form-title-2">
                        DriveHub.com.ua
                    </span>
                </h1>
                <h2 class="form-subtitle">
                    Ведіть дані, які ви вказали при реєстрації!
                </h2>
                <form action="{% url "account:login" %}" method="post">
                    {% csrf_token %}
                    
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% endif %}
                    {% if form.non_field_errors %}
                        <div class="validation-error">
                            <img src="{% static 'account/icons/alert-circle.svg' %}">
                            {{form.non_field_errors.0}}
                        </div>
                    {% endif %}
                    {% if form.username.errors %}
                        <div class="validation-error">
                            <img src="{% static 'account/icons/alert-circle.svg' %}">
                            {{form.username.errors.0}}
                        </div>
                    {% endif %}
                    <div class="input-container">
                        <img src="{% static 'account/icons/mail.svg' %}" alt="">
                        <input type="email" name="username" placeholder="Пошта" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" autocomplete="username">
                    </div>
                    {% if form.password.errors %}
                        <div class="validation-error">
                            <img src="{% static 'account/icons/alert-circle.svg' %}">
                            {{form.password.errors.0}}
                        </div>
                    {% endif %}
                    <div class="input-container">
                        <img src="{% static 'account/icons/lock.svg' %}" alt="">
                        <input type="password" name="password" placeholder="Пароль" autocomplete="current-password">
                    </div>
                    <button class="submit-btn" type="submit">
                        Увійти
                    </button>
                </form>
                <div class="form-reg-container">
                    <p class="reg-text">У Вас ще немає аккаунта?</p>
                    <a class="reg-link" href="{% url 'account:registration' %}">Реєстрація</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>