{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - My adverts</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/profile-side-bar.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/my-ads.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/car-card.css' %}">
</head>
<body>
    {% include "header.html" %}

    <div class="profile-container">
        <div class="main-profile-container">
            {% include "account/profile-side-bar.html" %}
            <div class="profile-content-container">
                <div class="content">
                    <div class="content-header">
                        <span class="content-title">Мої оголошення</span>
                    </div>
                    <div class="car-cards-container">
                        {% for advert in adverts %}
                        <div class="h-line"></div>
                        {% include "advert/car-card.html" with onClickValue=advert.id icon1="advert/icons/trash.svg" %}
                        {% if forloop.last %}
                        <div class="h-line"></div>
                        {% endif %}
                        {% empty %}
                            <p class="no-adverts-message">Немає оголошень</p>
                        {% endfor %}
                        {% if adverts.paginator.num_pages > 1 %}
                        <div class="pagination">
                            {% if adverts.has_previous %}
                            
                                {% if adverts.number > 1 %}
                                <a href="?page={{ adverts.previous_page_number }}"><img id="arrow-left" src="{% static 'advert/icons/arrow-down-black.svg' %}"></a>
                                {% endif %}

                                <a href="?page={{ adverts.previous_page_number }}">{{ adverts.previous_page_number }}</a>
                            {% endif %}
                            
                            <a class="current-page" href="?page={{ adverts.number }}">{{ adverts.number }}</a>
                            
                            {% if adverts.has_next %}
                                <a href="?page={{ adverts.next_page_number }}">{{ adverts.next_page_number }}</a>

                                {% if adverts.number < adverts.paginator.num_pages %}
                                <a href="?page={{ adverts.next_page_number }}"><img id="arrow-right" src="{% static 'advert/icons/arrow-down-black.svg' %}"></a>
                                {% endif %}

                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include "footer.html" %}
    <script src="{% static 'account/scripts/my-ads.js' %}"></script>
</body>
</html>