{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - My adverts</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/profile-side-bar.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/my-adverts.css' %}">
</head>
<body>
    {% include "header.html" %}
    
    <div class="profile-container">
        {% include "account/profile-side-bar.html" %}
        <div class="content">
            <div class="content-header">
                <span class="content-title">Мої оголошення</span>
            </div>
            <div class="car-cards-container">
                <div class="car-card">
                    <div class="car-img">    
                        <img src="https://cardrive.com.ua/file/thumb/802b301d-e1f8-4deb-a1c9-91d63beb862f" alt="">
                    </div>
                    <div class="car-info">
                        <div class="car-title-row">
                            <span class="car-title">BMW 5 серии 2020</span>
                            <span class="car-price-dolar">14 500 $</span>
                            <span class="car-price-hrn">603 502 ₴</span>
                        </div>
                        <div class="car-spec-row">
                            <img src="{% static 'advert/icons/speed2.svg' %}" alt="">
                            <p>140 km</p>
                            <p>чорний</p>
                        </div>
                        <div class="car-spec-row">
                            <img src="{% static 'advert/icons/speed2.svg' %}" alt="">
                            <p>140 km</p>
                            <p>чорний</p>
                        </div>
                        <div class="car-spec-row">
                            <img src="{% static 'advert/icons/speed2.svg' %}" alt="">
                            <p>140 km</p>
                            <p>чорний</p>
                        </div>
                        <span class="car-about">tralalero tralala</span>
                        <div class="car-bottom-row">
                            <span class="car-date">Львів, 12.04.2024</span>
                            <img src="{% static 'advert/icons/heart-red.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="h-line"></div>
                <div class="car-card">
                    <div class="car-img">    
                        <img src="https://cardrive.com.ua/file/thumb/802b301d-e1f8-4deb-a1c9-91d63beb862f" alt="">
                    </div>
                    <div class="car-info">
                        <div class="car-title-row">
                            <span class="car-title">BMW 5 серии 2020</span>
                            <span class="car-price-dolar">14 500 $</span>
                            <span class="car-price-hrn">603 502 ₴</span>
                        </div>
                        <div class="car-spec-row">
                            <img src="{% static 'advert/icons/speed2.svg' %}" alt="">
                            <p>140 km</p>
                            <p>чорний</p>
                        </div>
                        <div class="car-spec-row">
                            <img src="{% static 'advert/icons/speed2.svg' %}" alt="">
                            <p>140 km</p>
                            <p>чорний</p>
                        </div>
                        <div class="car-spec-row">
                            <img src="{% static 'advert/icons/speed2.svg' %}" alt="">
                            <p>140 km</p>
                            <p>чорний</p>
                        </div>
                        <span class="car-about">tralalero tralala</span>
                        <div class="car-bottom-row">
                            <span class="car-date">Львів, 12.04.2024</span>
                            <img src="{% static 'advert/icons/heart-red.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include "footer.html" %}
</body>
</html>