{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - Реєстрація</title>
    <link rel="icon" href="{% static 'icons/favicon.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/registration.css' %}">
</head>
<body>
    <div class="login">
        <div class="login-col-1">
            <a class="login-logo" href="{% url "advert:home" %}"><img class="login-logo-img" src = "{% static 'icons/logo-white.svg' %}"></a>
            <div class="img-container">
                <img src="{% static 'account/images/login.png' %}" alt="">
            </div>
            <div class="title-text">
                <h1 class="title">
                    Сучасна автомобільна платформа
                </h1>
                <p class="sub-title">
                    Все що тобі потрібно для автомобіля. Ти знайдеш у нас!
                </p>
            </div>
        </div>
        <div class="login-col-2">
            <div class="login-form">
                <h1 class="form-title-1">
                    Реєстрація на сайті
                    <span class="form-title-2">
                        DriveHub.com.ua
                    </span>
                </h1>
                <form action="{% url "account:registration" %}" method="post">
                    {% csrf_token %}
                    <div class="input-container">
                        <img src="{% static 'account/icons/user.svg' %}" alt="">
                        <input type="text" name="first_name" placeholder="Ім'я" value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}" required autocomplete="given-name">
                    </div>
                    <div class="input-container">
                        <img src="{% static 'account/icons/user.svg' %}" alt="">
                        <input type="text" name="last_name" placeholder="Прізвище" value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}" required autocomplete="family-name">
                    </div>
                    <div class="input-container">
                        <img src="{% static 'account/icons/mail.svg' %}" alt="">
                        <input type="email" name="email" placeholder="Пошта" value="{% if form.email.value %}{{form.email.value}}{% endif %}" required autocomplete="username">
                    </div>
                    <div class="input-container">
                        <img src="{% static 'account/icons/phone.svg' %}" alt="">
                        <input type="tel" name="phone" placeholder="Телефон" value="{% if form.phone.value %}{{form.phone.value}}{% endif %}" required autocomplete="tel">
                    </div>
                    <div class="input-container">
                        <img src="{% static 'account/icons/lock.svg' %}" alt="">
                        <input type="password" name="password1" placeholder="Пароль" value="{% if form.password1.value %}{{form.password1.value}}{% endif %}" required autocomplete="new-password">
                    </div>
                    <div class="input-container">
                        <img src="{% static 'account/icons/lock.svg' %}" alt="">
                        <input type="password" name="password2" placeholder="Повторіть пароль" value="{% if form.password2.value %}{{form.password2.value}}{% endif %}" required autocomplete="new-password">
                    </div>
                    <button class="submit-btn" type="submit">
                        Продовжити
                    </button>
                </form>
                <div class="form-reg-container">
                    <p class="reg-text">У Вас вже є аккаунт?</p>
                    <a class="reg-link" href="{% url 'account:login' %}">Увійти</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>