{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Login</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/registration.css' %}">
</head>
<body>
    <div class="login">
        <div class="login-col-1">
            <a href="{% url "advert:home" %}"><img class="login-logo-img" src = "{% static 'icons/logo-white.svg' %}"></a>
            <div class="img-container">
                <img src="{% static 'account/images/login.png' %}" alt="">
            </div>
            <div class="title-text">
                <h1 class="title">
                    Сучасна автомобільна платформа
                </h1>
                <p class="sub-title">
                    Все що тобі потрібно для автомобіля. Ти знайдеш у нас!
                </p>
            </div>
        </div>
        <div class="login-col-2">
            <div class="login-form">
                <h1 class="form-title-1">
                    Реєстрація на сайті
                    <span class="form-title-2">
                        DriveHub.com.ua
                    </span>
                </h1>
                <div class="input-container">
                    <img src="{% static 'account/icons/user.svg' %}" alt="">
                    <input type="text" name="" id="" placeholder="Ім'я">
                </div>
                <div class="input-container">
                    <img src="{% static 'account/icons/user.svg' %}" alt="">
                    <input type="text" name="" id="" placeholder="Прізвище">
                </div>
                <div class="input-container">
                    <img src="{% static 'account/icons/mail.svg' %}" alt="">
                    <input type="text" name="" id="" placeholder="Пошта">
                </div>
                <div class="input-container">
                    <img src="{% static 'account/icons/lock.svg' %}" alt="">
                    <input type="password" name="" id="" placeholder="Пароль">
                </div>
                <div class="input-container">
                    <img src="{% static 'account/icons/lock.svg' %}" alt="">
                    <input type="password" name="" id="" placeholder="Повторіть пароль">
                </div>
                <button class="submit-btn">
                    Продовжити
                </button>
                <div class="form-reg-container">
                    <p class="reg-text">У Вас вже є аккаунт?</p>
                    <a class="reg-link" href="{% url 'account:login' %}">Увійти</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>