{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - Налаштування</title>
    <link rel="icon" href="{% static 'icons/favicon.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/profile-side-bar.css' %}">
    <link rel="stylesheet" href="{% static 'account/styles/settings.css' %}">
</head>
<body>
    {% include "header.html" %}
    
    <div class="profile-container">
        <div class="main-profile-container">
            {% include "account/profile-side-bar.html" %}
            <div class="profile-content-container">
                <div class="content">
                    <div class="content-header">
                        <span class="content-title">Налаштування</span>
                    </div>
                    <div class="content-body">
                        <div class="settings-logo">{{ user.first_name|slice:":1"|upper }}</div>
                        <div class="settings-text">
                            <span class="settings-name">{{user.first_name}} {{user.last_name}}</span>
                            <span class="settings-email">{{user.email}}</span>
                        </div>
                        <form class="input-form" action="{% url "account:settings" %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            {% if form.first_name.errors %}
                                <div class="validation-error">
                                    <img src="{% static 'account/icons/alert-circle.svg' %}">
                                    {{form.first_name.errors.0}}
                                </div>
                            {% endif %}
                            <div class="input-container">
                                <img src="{% static 'account/icons/user.svg' %}">
                                <input type="text" name="first_name" placeholder="Ім'я" autocomplete="off" value={{ form.first_name.value }} >
                            </div>
                            {% if form.last_name.errors %}
                                <div class="validation-error">
                                    <img src="{% static 'account/icons/alert-circle.svg' %}">
                                    {{form.last_name.errors.0}}
                                </div>
                            {% endif %}
                            <div class="input-container">
                                <img src="{% static 'account/icons/user.svg' %}">
                                <input type="text" name="last_name" placeholder="Прізвище" autocomplete="off" value={{ form.last_name.value }} >
                            </div>
                            {% if form.phone.errors %}
                                <div class="validation-error">
                                    <img src="{% static 'account/icons/alert-circle.svg' %}">
                                    {{form.phone.errors.0}}
                                </div>
                            {% endif %}
                            <div class="input-container">
                                <img src="{% static 'account/icons/phone.svg' %}" >
                                <input type="tel" name="phone" placeholder="Телефон" autocomplete="off" value={{ form.phone.value }} >
                            </div>
                            {% if form.new_password.errors %}
                                <div class="validation-error">
                                    <img src="{% static 'account/icons/alert-circle.svg' %}">
                                    {{form.new_password.errors.0}}
                                </div>
                            {% endif %}
                            <div class="input-container">
                                <img src="{% static 'account/icons/lock.svg' %}">
                                <input type="password" id="id_new_password" name="new_password" placeholder="Пароль" autocomplete="off">
                                <button type="button" class="toggle-password" onclick="togglePassword()">
                                    <img id="non-visible-eye" class="visible" src="{% static 'account/icons/eye-non-visible.svg' %}">
                                    <img id="visible-eye" class="" src="{% static 'account/icons/eye-visible.svg' %}">
                                </button>
                            </div>
                            <button class="submit-btn" type="submit">
                                Зберегти зміни
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include "footer.html" %}

    <script src="{% static 'account/scripts/settings.js' %}"></script>
</body>
</html>