{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - Home</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/advanced-filters.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/custom-select.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/car-card.css' %}">
</head>
<body>
    {% include "header.html" %}

    <div class="advanced-filters-container">
        <div class="content-head">
            <div class="side-filters">
                <div class="catogory-row">
                    <a class="category">Продаж авто</a>
                    <img src="{% static 'advert/icons/arrow-right.svg' %}">
                    <a class="category">Результати пошуку</a>
                </div>
                <div class="form-button-row">
                    <a class="form-button selected">Всі</a>
                    <a class="form-button">З пробігом</a>
                    <a class="form-button">Нові</a>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="side-filters">
                <div class="filters-container">
                    <div class="filter-section">
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="brand-select" placeholder="Марка" options=brand_list %}
                        </div>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="model-select" disabled=True placeholder="Модель" %}
                        </div>
                    </div>
                    <div class="filter-section">
                        <div class="select-container">
                            <input type="number" name="price-from" min="0" step="1" placeholder="Ціна, від">
                            <input type="number" name="price-to" min="0" step="1" placeholder="до">
                        </div>

                        <div class="select-container">
                            {% now "Y" as year %}
                            <input type="number" name="year-from" min="1900" max="{{ year }}" step="1" placeholder="Рік, від">
                            <input type="number" name="year-to" min="1900" max="{{ year }}" step="1" placeholder="до">
                        </div>
                        
                        <div class="select-container">
                            <input type="number" name="millage-from" min="0" step="1" placeholder="Пробіг, від">
                            <input type="number" name="millage-to" min="0" step="1" placeholder="до">
                        </div>
                    </div>

                    <div class="filter-section">
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="body-type-select" placeholder="Кузов" options=body_type_list %}
                        </div>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="drive-type-select" placeholder="Привід" options=drive_type_list %}
                        </div>
                        
                        <div class="filter-row">
                            <div class="select-container">
                                {% include "advert/custom-select.html" with select_id="fuel-type-select" placeholder="Паливо" options=fuel_type_list %}
                            </div>
                            
                            <div class="select-container">
                                {% include "advert/custom-select.html" with select_id="transmission-type-select" placeholder="Коробка" options=transmission_type_list %}
                            </div>
                        </div>

                        <div class="select-container">
                            <input type="number" name="volume-from" min="0" step="0.1" placeholder="Об'єм, від">
                            <input type="number" name="volume-to" min="0" step="0.1" placeholder="до">
                        </div>

                        <div class="select-container">
                            <input type="number" name="power-from" min="0" step="1" placeholder="Потужність, від">
                            <input type="number" name="power-to" min="0" step="1" placeholder="до">
                        </div>
                    </div>
                    <div class="filter-section">
                        <label for="" class="filter-label">Витрата</label>
                        <div class="select-container">
                            <input type="number" name="fuel-consumption-city-from" min="0" step="0.1" placeholder="Місто, від">
                            <input type="number" name="fuel-consumption-city-to" min="0" step="0.1" placeholder="до">
                        </div>

                        <div class="select-container">
                            <input type="number" name="fuel-consumption-highway-from" min="0" step="1" placeholder="Траса, від">
                            <input type="number" name="fuel-consumption-highway-to" min="0" step="1" placeholder="до">
                        </div>

                        <div class="select-container">
                            <input type="number" name="fuel-consumption-mixed-from" min="0" step="1" placeholder="Змішана, від">
                            <input type="number" name="fuel-consumption-mixed-to" min="0" step="1" placeholder="до">
                        </div>

                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="region-select" placeholder="Регіон" options=region_list %}
                        </div>
                    </div>

                    <div class="select-container">
                        <a class="submit-btn" type="submit">
                            Показати пропозиції
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="cars-container">
                <div class="car-cards-container">
                    {% for advert in advert_list %}
                    <div class="h-line"></div>
                    {% include "advert/car-card.html" with icon_href="advert/icons/heart-red.svg" %}
                    {% if forloop.last %}
                    <div class="h-line"></div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}

    <script src="{% static 'advert/scripts/custom-select.js' %}"></script>
    <script src="{% static 'advert/scripts/advanced-filters.js' %}"></script>
</body>
</html>