{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - "Advert"</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/advert-detail.css' %}">
</head>
<body>
    {% include "header.html" %}
    
    <div class="advert-container">
        <div class="transport-info">
            <div class="advert-col-1">
                <div class="advert-title-section">
                    <button class="favourite-button-container">
                        <img class="red-icon" src="{% static 'advert/icons/heart-red.svg' %}">
                        <img class="black-icon" src="{% static 'advert/icons/heart-black.svg' %}">
                    </button>
                    <div class="advert-title-text">
                        <span class="advert-title">Volkswagen Golf 2019</span>
                        <span class="advert-description">28 квітня id: 424957</span>
                    </div>
                </div>
                <div class="advert-image-section">
                    <img class="advert-image" src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                    <div class="image-preview-row">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                        <img src="https://static.tengrinews.kz/userdata/news/2021/news_454230/thumb_b/photo_380266.jpeg" alt="">
                    </div>
                </div>
                <div class="advert-short-spec-section">
                    <span class="short-spec-title">Специфікації</span>
                    <div class="short-spec-row">
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/brand.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Марка,, рік</span>
                                <span class="short-spec-value">Volkswagen Golf 2019</span>
                            </div>
                        </div>
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/millage.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Пробіг</span>
                                <span class="short-spec-value">205 892 км</span>
                            </div>
                        </div>
                    </div>
                    <div class="short-spec-row">
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/brand.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Коробка</span>
                                <span class="short-spec-value">робот</span>
                            </div>
                        </div>
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/millage.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Колір</span>
                                <span class="short-spec-value">Жовтий</span>
                            </div>
                        </div>
                    </div>
                    <div class="short-spec-row">
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/brand.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Двигун</span>
                                <span class="short-spec-value">1.6 л / 115 к.с. / дизель</span>
                            </div>
                        </div>
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/millage.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Кількість власників</span>
                                <span class="short-spec-value">2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description-section">
                    <span class="description-title">Опис продавця</span>
                    <span class="description">Свіжопригнане авто з Франції в збереженому стані, без підкрасів, в рідній фарбі. Без пробігу по Україні.

Авто розмитнене та готове до постановки на облік – сертифікат та всі документи в наявності.

Сервісна історія з дилера. Обслуговування на офіційному дилері Volkswagen. Оригінальний, перевірений пробіг. Двигун працює рівно, без сторонніх звуків чи шуму. Коробка перемикається плавно – без ривків, вібрацій чи затримок. Ходова без зауважень – нічого не стукає, відмінно тримає дорогу.

Записи з обслуговування:
    - 157 тис. км. – заміна передніх і задніх гальмівних дисків
    - 195 тис. км. – заміна АКБ, комплект ГРМ з помпою + антифриз
На 204 тис. км. (по приїзду в Україну) – зроблено свіже ТО:
    масло Shell Helix Ultra 0W-30 + всі фільтра Mann (масляний, паливний, салонний, повітряний) - чеки/накладні в наявності.
    
- Два оригінальних ключа! Гарна гума на дисках – всесезонна Goodyear, залишок 6 мм. (+ повноцінна запаска на диску Continental)

Готовий до перевірки на СТО. З радістю відповім на будь-які питання. Телефонуйте!

Авто знаходиться в Броварах / Києві</span>
                </div>
            </div>
            <div class="advert-col-2">
                <div class="advert-price-section">
                    <span class="advert-price">14 300 $</span>
                    <span class="advert-price-₴">599 254 ₴</span>
                    <span class="advert-price-€">12 594 €</span>
                </div>
                <div class="advert-profile-section">
                    <div class="profile-row">
                        <div class="profile-row-logo">R</div>
                        <div class="profile-row-text">
                            <span class="profile-name">Микола</span>
                            <span class="profile-description">Користувач</span>
                        </div>
                    </div>
                    <div class="profile-row">
                        <img class="profile-location-img" src="{% static 'advert/icons/location.svg' %}">
                        <span class="profile-location">Дніпро (Дніпропетровськ)</span>
                    </div>
                    <div class="profile-phone-div">
                        <span>Телефон</span>
                        +380986029515
                    </div>
                </div>
                <div class="advert-spec-section">
                    <span class="spec-section-title">Характеристики</span>
                    <div class="spec-section-table">
                        <div class="section-table-row">
                            <span class="section-table-column-title">Рік випуску</span>
                            <span class="section-table-column">2019</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Пробіг</span>
                            <span class="section-table-column">205 849 км</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Кузов</span>
                            <span class="section-table-column">універсал</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Колір</span>
                            <span class="section-table-column">сріблястий</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Двигун</span>
                            <span class="section-table-column">1.6 л / 115 к.с. / дизель</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">КПП</span>
                            <span class="section-table-column">робот</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Привід</span>
                            <span class="section-table-column">передній</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Власники</span>
                            <span class="section-table-column">1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include "footer.html" %}

    <script src="{% static 'advert/scripts/home.js' %}"></script>
</body>
</html>