{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - "Advert"</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/advert-detail.css' %}">
</head>
<body>
    {% include "header.html" %}
    
    <div class="advert-container">
        <div class="catogory-row">
            <a class="category" href="{% url 'advert:advanced-filters' %}">Продаж авто</a>
            <img src="{% static 'advert/icons/arrow-right.svg' %}">
            <a class="category" href="{% url 'advert:advanced-filters' %}?brand={{ advert.transport.brand_model.brand.id }}">{{ advert.transport.brand_model.brand.value }}</a>
            <img src="{% static 'advert/icons/arrow-right.svg' %}">
            <a class="category" href="{% url 'advert:advanced-filters' %}?brand={{ advert.transport.brand_model.brand.id }}&model={{ advert.transport.brand_model.model.id }}">{{ advert.transport.brand_model.model.value }}</a>
            <img src="{% static 'advert/icons/arrow-right.svg' %}">
            <a class="category">{{ advert.transport }}</a>
        </div>
        <div class="transport-info">
            <div class="advert-col-1">
                <div class="advert-title-section">
                    <button class="favourite-button-container">
                        <img class="red-icon" src="{% static 'advert/icons/heart-red.svg' %}">
                        <img class="black-icon" src="{% static 'advert/icons/heart-black.svg' %}">
                    </button>
                    <div class="advert-title-text">
                        <span class="advert-title">{{ advert.transport }}</span>
                        <span class="advert-description">{{ advert.created|date:"j E" }} id: {{ advert.id }}</span>
                    </div>
                </div>
                <div class="advert-image-section">
                    <div class="advert-image-conatiner">
                        <img class="main-image" src="{{ advert.transport.photos.all.0.image.url }}">
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                    </div>
                    <div class="image-preview-row">
                        {% for photo in advert.transport.photos.all %}
                        <img class="bottom-image" onclick="currentSlide({{ forloop.counter0 }})" src="{{ photo.image.url }}">
                        {% endfor %}
                    </div>
                </div>
                <div class="advert-short-spec-section">
                    <span class="short-spec-title">Специфікації</span>
                    <div class="short-spec-row">
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/brand.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Марка, рік</span>
                                <span class="short-spec-value">{{ advert.transport }}</span>
                            </div>
                        </div>
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/millage.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Пробіг</span>
                                <span class="short-spec-value">{{ advert.transport.mileage }} км</span>
                            </div>
                        </div>
                    </div>
                    <div class="short-spec-row">
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/brand.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Коробка</span>
                                <span class="short-spec-value">{{ advert.transport.transmission_type.value }}</span>
                            </div>
                        </div>
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/millage.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Колір</span>
                                <span class="short-spec-value">{{ advert.transport.color.value }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="short-spec-row">
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/brand.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Двигун</span>
                                <span class="short-spec-value">{{ advert.transport.engine_volume }} л / {{ advert.transport.engine_power }} к.с. / {{ advert.transport.fuel_type.value }}</span>
                                <span class="short-spec-subvalue">Місто {{ advert.transport.fuel_consumption.city_consumption }} Змішаний {{ advert.transport.fuel_consumption.mixed_consumption }} Траса {{ advert.transport.fuel_consumption.highway_consumption }}</span>
                            </div>
                        </div>
                        <div class="short-spec-column">
                            <img src="{% static 'advert/icons/millage.svg' %}">
                            <div class="short-spec-text">
                                <span class="short-spec-label">Кількість власників</span>
                                <span class="short-spec-value">{{ advert.transport.owners_number }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description-section">
                    <span class="description-title">Опис продавця</span>
                    <span class="description">{{ advert.description }}</span>
                </div>
            </div>
            <div class="advert-col-2">
                <div class="advert-price-section">
                    <span class="advert-price">{{ advert.price|intcomma }} $</span>
                    <span class="advert-price-₴">{{ uah_price|intcomma }} ₴</span>
                    <span class="advert-price-€">{{ eur_price|intcomma }} €</span>
                </div>
                <div class="advert-profile-section">
                    <div class="profile-row">
                        <div class="profile-row-logo">{{ advert.user.first_name|slice:":1"|upper }}</div>
                        <div class="profile-row-text">
                            <span class="profile-name">{{ advert.user.first_name }}</span>
                            <span class="profile-description">Користувач  </span>
                        </div>
                    </div>
                    <div class="profile-row">
                        <img class="profile-location-img" src="{% static 'advert/icons/location.svg' %}">
                        <span class="profile-location">{{ advert.region_city.city.value }}</span>
                    </div>
                    <div class="profile-phone-div">
                        <span>Телефон</span>
                        {{advert.user.phone}}
                    </div>
                </div>
                <div class="advert-spec-section">
                    <span class="spec-section-title">Характеристики</span>
                    <div class="spec-section-table">
                        <div class="section-table-row">
                            <span class="section-table-column-title">Рік випуску</span>
                            
                            <span class="section-table-column">{{ advert.transport.year }} </span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Пробіг</span>
                            <span class="section-table-column">{{ advert.transport.mileage|intcomma }} км</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Кузов</span>
                            <span class="section-table-column">{{ advert.transport.body_type.value }}</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Колір</span>
                            <span class="section-table-column">{{ advert.transport.color.value }}</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Двигун</span>
                            <span class="section-table-column">{{ advert.transport.engine_volume }} л / {{ advert.transport.engine_power }} к.с. / {{ advert.transport.fuel_type.value }}</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">КПП</span>
                            <span class="section-table-column">{{ advert.transport.transmission_type.value }}</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Привід</span>
                            <span class="section-table-column">{{ advert.transport.drive_type.value }}</span>
                        </div>
                        <div class="section-table-row">
                            <span class="section-table-column-title">Власники</span>
                            <span class="section-table-column">{{ advert.transport.owners_number }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include "footer.html" %}

    <script src="{% static 'advert/scripts/advert-detail.js' %}"></script>
</body>
</html>
