{% load static %}

<div class="ai-chat-container">
    <div class="ai-chat-header">
        <div class="ai-chat-dynamic-island">
            <div class="logo">
                <img src="{% static 'icons/favicon.svg' %}" alt="">
            </div>
            <div class="text">
                <span class="top-text">DriveHub</span>
                <span class="bottom-text">ChatBot</span>
            </div>
        </div>
    </div>
    <div class="ai-chat-body">
        <div class="message-block">
            <div class="icon-column">
                <img class="message-profile-icon" src="{% static 'icons/favicon.svg' %}"></img>
            </div>
            <div class="message-column">
                <div class="message">
                    Привіт! 👋
                </div>
                <div class="message">
                    Служба підтримки DriveHub :)
                </div>
            </div>
        </div>
        <div class="message-block">
            <div class="icon-column">
                <img class="message-profile-icon" src="{% static 'icons/favicon.svg' %}"></img>
            </div>
            <div class="message-column">
                <div class="message">
                    Привіт! 👋
                </div>
                <div class="message">
                    Служба підтримки DriveHub :)
                </div>
            </div>
        </div>
        <div class="message-block">
            <div class="icon-column">
                <img class="message-profile-icon" src="{% static 'icons/favicon.svg' %}"></img>
            </div>
            <div class="message-column">
                <div class="message">
                    Привіт! 👋
                </div>
                <div class="message">
                    Служба підтримки DriveHub :)
                </div>
            </div>
        </div>
        <div class="message-block">
            <div class="icon-column">
                <img class="message-profile-icon" src="{% static 'icons/favicon.svg' %}"></img>
            </div>
            <div class="message-column">
                <div class="message">
                    Привіт! 👋
                </div>
                <div class="message">
                    Служба підтримки DriveHub :)
                </div>
            </div>
        </div>
    </div>
</div>