{% load static %}
{% load humanize %}

<div class="car-card">
    <div class="car-img">
        <a href="{% url 'advert:advert-detail' advert.slug %}">
            <img src="{{ advert.transport.photos.all.0.image.url }}">
        </a>
    </div>
    <div class="car-info">
        <div class="car-title-row">
            <a class="car-title" href="#">{{ advert.transport }}</a>
            <span class="car-price-dolar"> {{ advert.price }} $</span>
            <span class="car-price-hrn">{% widthratio advert.price 1 41 as uah_price %}{{ uah_price|intcomma }} ₴</span>
        </div>
        <div class="car-spec-row">
            <img src="{% static 'advert/icons/speed2.svg' %}">
            <p>{{ advert.transport.mileage|intcomma }}km</p>
            <p>{{ advert.transport.color.value }}</p>
        </div>
        <div class="car-spec-row">
            <img src="{% static 'advert/icons/info.svg' %}">
            <p>{{ advert.transport.engine_volume }} л / {{ advert.transport.engine_power }} к.с. / {{ advert.transport.fuel_type.value }}</p>
            <p>{{ advert.transport.drive_type.value }}</p>
        </div>
        <div class="car-spec-row">
            <img src="{% static 'advert/icons/gearbox.svg' %}">
            <p>{{ advert.transport.transmission_type.value }}</p>
            <p>{{ advert.transport.body_type.value }}</p>
        </div>
        <span class="car-about">{{ advert.description }}</span>
        <div class="car-bottom-row">
            <span class="car-date">{{ advert.region_city.city.value }}, {{ advert.created }}</span>
            <button class="icon-button" onclick="onClick({{ onClickValue }})">
                <img class="icon1" src="{% static icon1 %}" {% if show_2 %}style="display: none;"{% endif %}>
                {% if icon2 %}<img class="icon2" src="{% static icon2 %}" {% if show_2 %}style="display: flex;"{% endif %}>{% endif %}
            </button>
        </div>
    </div>
</div>