{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - Create advert</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/custom-select.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/create-advert.css' %}">
</head>
<body>
    {% include "header.html" %}
    
    <div class="create-advert-container">
        <form class="create-advert-form" action="{% url "advert:create-advert" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        1
                    </span>
                    <h2>Транспорт</h2>
                </div>
                <div class="section-content">
                    <div class="input-container">
                        <span class="input-label">Марка</span>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="brand-select" name="brand" placeholder="Марка" options=brand_list required=True %}
                        </div>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Модель</span>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="model-select" name="model" disabled=True placeholder="Модель" required=True%}
                        </div>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Тип транспорту</span>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="transport-type-select" name="transport_type" placeholder="Тип транспорту" options=transport_type_list required=True %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        2
                    </span>
                    <h2>Характеристики</h2>
                </div>
                <div class="section-content">
                    <div class="input-container">
                        <span class="input-label">Рік</span>
                        {% now "Y" as year %}
                        <input name="year" type="number" min="1900" max="{{ year }}" placeholder="Введіть рік" required>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Тип кузова</span>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="body-type-select" name="body_type" placeholder="Тип кузова" options=body_type_list  required=True%}
                        </div>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Привід</span>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="drive-type-select" name="drive_type" placeholder="Привід" options=drive_type_list  required=True%}
                        </div>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Коробка передач</span>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="transmission-type-select" name="transmission_type" placeholder="Коробка передач" options=transmission_type_list  required=True%}
                        </div>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Колір</span>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="color-select" name="color" placeholder="Колір" options=color_list required=True %}
                        </div>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Паливо</span>
                        <div class="select-container">
                            {% include "advert/custom-select.html" with select_id="fuel-type-select" name="fuel_type" placeholder="Паливо" options=fuel_type_list  required=True %}
                        </div>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Об'єм двигуна, л</span>
                        <input name="engine_volume" type="number" min="0" step="0.1" placeholder="0" required>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Потіжнусть двигуна, л/с</span>
                        <input name="engine_power" type="number" min="0" placeholder="0" required>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        3
                    </span>
                    <h2>Стан авто</h2>
                </div>
                <div class="section-content">
                    <div class="input-container">
                        <span class="input-label">Пробіг, км</span>
                        <input name="mileage" type="number" min="0" placeholder="0" required>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Кількість власників</span>
                        <input name="owners_number" type="number" min="0" placeholder="0" required>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Витрата палива, л</span>
                        <div class="fuel-div">
                            <input name="city_consumption" type="number" step="0.1" min="0" placeholder="місто" required>
                            <input name="mixed_consumption" type="number" step="0.1" min="0" placeholder="змішаний" required>
                            <input name="highway_consumption" type="number" step="0.1" min="0" placeholder="траса" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        4
                    </span>
                    <h2>Фото</h2>
                </div>
                <div class="section-content">
                    <div class="file-container">
                        <input id="file_input" name="photos" type="file" accept="image/*" required multiple>
                        <div class="file-text-area" data-logo-url="{% static 'advert/icons/remove.svg' %}">
                            <img id="add-photo-img" src="{% static 'advert/icons/add-photo.png' %}">
                            <span>Додайте щонайменше 6 фото</span>
                        </div>
                        <div class="file-preview-container" id="file-preview-container">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        5
                    </span>
                    <h2>Опис</h2>
                </div>
                <div class="section-content">
                    <div class="input-container description-container">
                        <textarea name="description" minlength="50" maxlength="5000" required placeholder="Напишіть кілька слів про Ваш транспорт..."></textarea>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        6
                    </span>
                    <h2>Вартість</h2>
                </div>
                <div class="section-content">
                    <div class="input-container price">
                        <span class="input-label">Вкажіть ціну</span>
                        <input name="price" type="number" min="0" placeholder="$" required>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        7
                    </span>
                    <h2>Контакти</h2>
                </div>
                <div class="section-content">
                    <div class="section-row">
                        <div class="input-container">
                            <span class="input-label">Ім'я</span>
                            <input type="text" min="0" required value="{{user.first_name}}" disabled>
                        </div>
                        <div class="input-container">
                            <span class="input-label">Прізвище</span>
                            <input type="text" min="0" required value="{{user.last_name}}" disabled>
                        </div>
                    </div>
                    <div class="section-row">
                        <div class="input-container">
                            <span class="input-label">Регіон</span>
                            <div class="select-container">
                                {% include "advert/custom-select.html" with select_id="region-select" name="region" placeholder="Регіон" options=region_list default_value="Виберіть регіон" required=True %}
                            </div>
                        </div>
                        <div class="input-container">
                            <span class="input-label">Телефон</span>
                            <input type="text" min="0" required value="{{user.phone}}" disabled>
                        </div>
                    </div>
                    <div class="section-row">
                        <div class="input-container">
                            <span class="input-label">Місто</span>
                            <div class="select-container">
                                {% include "advert/custom-select.html" with select_id="city-select" name="city" disabled=True placeholder="Місто" default_value="Виберіть місто" required=True %}
                            </div>
                        </div>
                        <div class="input-container">
                            <span class="input-label">Пошта</span>
                            <input type="text" min="0" required value="{{user.email}}" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <button class="submit-btn" type="submit">
                Розмістити
            </button>
        </form>
    </div>
    {% include "footer.html" %}

    <script src="{% static 'advert/scripts/create-advert.js' %}"></script>
    <script src="{% static 'advert/scripts/custom-select.js' %}"></script>
</body>
</html>
