{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - Create advert</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/create-advert.css' %}">
</head>
<body>
    {% include "header.html" %}
    
    <div class="create-advert-container">
        <form class="create-advert-form" action="{% url "advert:create-advert" %}" method="post">
            {% csrf_token %}
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        1
                    </span>
                    <h2>Транспорт</h2>
                </div>
                <div class="section-content">
                    <div class="input-container">
                        <span class="input-label">Марка</span>
                        <select id="brand-select" name="brand" placeholder="Марка" required>
                            <option disabled selected>Виберіть марку</option>
                            {% for brand in brand_list %}
                                <option>{{brand.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Модель</span>
                        <select id="model-select" name="model" placeholder="Модель" required disabled>
                            <option disabled selected>Виберіть модель</option>
                        </select>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Тип транспорту</span>
                        <select name="transport_type" placeholder="Тип транспорту" required>
                            {% for transport_type in transport_type_list %}
                                <option>{{transport_type.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        2
                    </span>
                    <h2>Характеристики</h2>
                </div>
                <div class="section-content">
                    <div class="input-container">
                        <span class="input-label">Рік</span>
                        <input type="number" min="1950" placeholder="Введіть рік" required>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Тип кузова</span>
                        <select name="body_type" placeholder="Тип кузова" required>
                            {% for body_type in body_type_list %}
                                <option>{{body_type.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Привід</span>
                        <select name="drive_type" placeholder="Привід" required>
                            {% for drive_type in drive_type_list %}
                                <option>{{drive_type.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Коробка передач</span>
                        <select name="transmission_type" placeholder="Коробка передач" required>
                            {% for transmission_type in transmission_type_list %}
                                <option>{{transmission_type.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Колір</span>
                        <select name="color" placeholder="Колір" required>
                            {% for color in color_list %}
                                <option>{{color.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Паливо</span>
                        <select name="fuel_type" placeholder="Паливо" required>
                            {% for fuel_type in fuel_type_list %}
                                <option>{{fuel_type.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Об'єм двигуна, л</span>
                        <input type="number" min="0" placeholder="0" required>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Потіжнусть двигуна, л/с</span>
                        <input type="number" min="0" placeholder="0" required>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        3
                    </span>
                    <h2>Стан авто</h2>
                </div>
                <div class="section-content">
                    <div class="input-container">
                        <span class="input-label">Пробіг, км</span>
                        <input type="number" min="0" placeholder="0" required>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Кількість власників</span>
                        <input type="number" min="0" placeholder="0" required>
                    </div>
                    <div class="input-container">
                        <span class="input-label">Витрата палива, л</span>
                        <div class="fuel-div">
                            <input type="number" min="0" placeholder="місто" required>
                            <input type="number" min="0" placeholder="змішаний" required>
                            <input type="number" min="0" placeholder="траса" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        4
                    </span>
                    <h2>Фото</h2>
                </div>
                <div class="section-content">
                    <div class="file-container">
                        <input id="file_input" type="file" accept="image/*" required multiple>
                        <div class="file-text-area" data-logo-url="{% static 'advert/icons/remove.svg' %}">
                            <img id="add-photo-img" src="{% static 'advert/icons/add-photo.png' %}" alt="">
                            <span>Додайте щонайменше 6 фото</span>
                        </div>
                        <div class="file-preview-container" id="file-preview-container">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        5
                    </span>
                    <h2>Опис</h2>
                </div>
                <div class="section-content">
                    <div class="input-container description-container">
                        <textarea minlength="50" maxlength="5000" required></textarea>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        6
                    </span>
                    <h2>Вартість</h2>
                </div>
                <div class="section-content">
                    <div class="input-container price">
                        <span class="input-label">Вкажіть ціну</span>
                        <input type="number" min="0" placeholder="$" required>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <span class="section-number">
                        7
                    </span>
                    <h2>Контакти</h2>
                </div>
                <div class="section-content">
                    <div class="section-row">
                        <div class="input-container">
                            <span class="input-label">Ім'я</span>
                            <input type="text" min="0" required value="{{user.first_name}}" disabled>
                        </div>
                        <div class="input-container">
                            <span class="input-label">Прізвище</span>
                            <input type="text" min="0" required value="{{user.last_name}}" disabled>
                        </div>
                    </div>
                    <div class="section-row">
                        <div class="input-container">
                            <span class="input-label">Регіон</span>
                            <select id="region-select" name="region" placeholder="Регіон" required>
                                <option disabled selected>Регіон</option>
                                {% for region in region_list %}
                                    <option>{{region.value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-container">
                            <span class="input-label">Телефон</span>
                            <input type="text" min="0" required value="{{user.phone}}" disabled>
                        </div>
                    </div>
                    <div class="section-row">
                        <div class="input-container">
                            <span class="input-label">Місто</span>
                            <select id="city-select" name="city" placeholder="Місто" required>
                                <option disabled selected>Місто</option>
                                {% for city in city_list %}
                                    <option>{{city.value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-container">
                            <span class="input-label">Пошта</span>
                            <input type="text" min="0" required value="{{user.email}}" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <button class="submit-btn" type="submit">
                Розмістити
            </button>
        </form>
    </div>
    {% include "footer.html" %}

    <script src="{% static 'advert/scripts/create-advert.js' %}"></script>
</body>
</html>
