{% load static %}

{% static 'advert/icons/blue-check.svg' as icon_url %}

<div class="custom-select-container" {% if disabled and not value %}disabled{% endif %} id="{{ select_id }}" data-icon-url="{{ icon_url }}">
  <div class="custom-select">
    <p class="custom-select-placeholder">{{ placeholder }}</p>
    <p class="custom-selected-option"></p>
    <input class="hidden-input" type="number" name="{{ name }}" {% if required %}required{% endif %} value="{{ value|default:None }}">
    <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}">
  </div>
  <div class="custom-option-list">
    <div class="custom-option default-option">
      <div class="img-container">
        <img src="{% static 'advert/icons/x.svg' %}">
      </div>
      <p>{{ default_value|default:"Всі" }}</p>
    </div>
    <div class="custom-option-scroll">
      {% for option in options %}
          <div class="custom-option">
            <div class="img-container">
                <img src="{% static 'advert/icons/blue-check.svg' %}">
            </div>
            <p data-id="{{ option.id }}" class="custom-option-value">{{ option.value }}</p>
          </div>
      {% endfor %}
    </div>
  </div>
</div>