{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - Home</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/home.css' %}">
</head>
<body>
    {% include "header.html" %}
    
    <div class="home-container">
        <div class="filter-container">
            <div class="filter-row">
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Модель</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for model in model_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{model.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-row">
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-row">
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="custom-select-container">
                        <div class="custom-select">
                            <p class="custom-select-placeholder">Марка</p>
                            <p class="custom-selected-option"></p>
                            <img class="arrow-icon" src="{% static 'advert/icons/arrow.svg' %}" alt="">
                        </div>
                        <div class="custom-option-list">
                            <div class="custom-option default-option">
                                <div class="img-container">
                                    <img src="{% static 'advert/icons/x.svg' %}" alt="">
                                </div>
                                <p>Всі</p>
                            </div>
                            <div class="custom-option-scroll">
                                {% for brand in brand_list %}
                                <div class="custom-option">
                                    <div class="img-container">
                                        <img src="{% static 'advert/icons/blue-check.svg' %}" alt="">
                                    </div>
                                    <p class="custom-option-value">{{brand.value}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="cards-grid-title">Останні оголошення</span>
        <div class="cards-grid">
            <a href="#" class="car-card">
                <img class="card-img" src="https://cardrive.com.ua/file/thumb/2a1072f0-2781-4890-907a-61cfc109129f" alt="">
                <div class="card-description-container">
                    <span class="card-price">20 500 $</span>
                    <span class="card-title">Ford Edge 2018</span>
                    <span class="card-text">2018, 93 000 km</span>
                </div>
            </a>
            <a href="#" class="car-card">
                <img class="card-img" src="https://wl-adme.cf.tsp.li/resize/728x/jpg/6b6/037/b8d269523d81a1f3e4128065cf.jpg" alt="">
                <div class="card-description-container">
                    <span class="card-price">20 500 $</span>
                    <span class="card-title">Ford Edge 2018</span>
                    <span class="card-text">2018, 93 000 km</span>
                </div>
            </a>
            <a href="#" class="car-card">
                <img class="card-img" src="https://cardrive.com.ua/file/thumb/2a1072f0-2781-4890-907a-61cfc109129f" alt="">
                <div class="card-description-container">
                    <span class="card-price">20 500 $</span>
                    <span class="card-title">Ford Edge 2018</span>
                    <span class="card-text">2018, 93 000 km</span>
                </div>
            </a>
            <a href="#" class="car-card">
                <img class="card-img" src="https://cardrive.com.ua/file/thumb/2a1072f0-2781-4890-907a-61cfc109129f" alt="">
                <div class="card-description-container">
                    <span class="card-price">20 500 $</span>
                    <span class="card-title">Ford Edge 2018</span>
                    <span class="card-text">2018, 93 000 km</span>
                </div>
            </a>
            <a href="#" class="car-card">
                <img class="card-img" src="https://cardrive.com.ua/file/thumb/2a1072f0-2781-4890-907a-61cfc109129f" alt="">
                <div class="card-description-container">
                    <span class="card-price">20 500 $</span>
                    <span class="card-title">Ford Edge 2018</span>
                    <span class="card-text">2018, 93 000 km</span>
                </div>
            </a>
            <a href="#" class="car-card">
                <img class="card-img" src="https://cardrive.com.ua/file/thumb/2a1072f0-2781-4890-907a-61cfc109129f" alt="">
                <div class="card-description-container">
                    <span class="card-price">20 500 $</span>
                    <span class="card-title">Ford Edge 2018</span>
                    <span class="card-text">2018, 93 000 km</span>
                </div>
            </a>
        </div>
    </div>
    
    {% include "footer.html" %}

    <script src="{% static 'advert/scripts/home.js' %}"></script>
</body>
</html>