{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DriveHub - Головна</title>
    <link rel="icon" href="{% static 'icons/favicon.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/custom-select.css' %}">
    <link rel="stylesheet" href="{% static 'advert/styles/ai-chat.css' %}">
</head>
<body>
    {% include "header.html" %}
    
    <div class="home-container">
        <form class="filter-container" action="{% url "advert:advanced-filters" %}" method="get">
            <div class="form-button-row">
                <button class="form-button selected" type="submit" name="car_type" value="all">Всі</button>
                <button class="form-button" type="submit" name="car_type" value="used">З пробігом</button>
                <button class="form-button" type="submit" name="car_type" value="new">Нові</button>
            </div>
            <div class="select-container">
                {% include "advert/custom-select.html" with select_id="brand-select" name="brand" placeholder="Марка" options=brand_list value=current_filters.brand %}
            </div>
            <div class="select-container">
                {% include "advert/custom-select.html" with select_id="model-select" name="model" disabled=True options=model_list placeholder="Модель" value=current_filters.model %}
            </div>
            <div class="select-container">
                <input type="number" name="price-from" min="0" step="1" placeholder="Ціна від" value="{{current_filters.price_from}}">
                <input type="number" name="price-to" min="0" step="1" placeholder="Ціна до" value="{{current_filters.price_to}}">
            </div>
            <div class="select-container">
                {% now "Y" as year %}
                <input type="number" name="year-from" min="1900" max="{{ year }}" step="1" placeholder="Рік від" value="{{current_filters.year_from}}">
                <input type="number" name="year-to" min="1900" max="{{ year }}" step="1" placeholder="Рік до" value="{{current_filters.year_to}}">
            </div>
            <div class="select-container">
                {% include "advert/custom-select.html" with select_id="drive-type-select" name="drive_type" placeholder="Привід" options=drive_type_list value=current_filters.drive_type %}
            </div>
            <div class="select-container">
                {% include "advert/custom-select.html" with select_id="transmission-type-select" name="transmission_type" placeholder="Коробка" options=transmission_type_list value=current_filters.transmission_type %}
            </div>
            <div class="select-container">
                {% include "advert/custom-select.html" with select_id="drive-type-select" name="region" placeholder="Регіон" options=region_list value=current_filters.region %}
            </div>
            <div class="select-container">
                <input type="number" name="millage-from" min="0" step="1" placeholder="Пробіг від" value="{{current_filters.mileage_from}}">
                <input type="number" name="millage-to" min="0" step="1" placeholder="Пробіг до" value="{{current_filters.mileage_to}}">
            </div>
            <div class="select-container">
                {% include "advert/custom-select.html" with select_id="body-type-select" name="bode_type" placeholder="Кузов" options=body_type_list value=current_filters.body_type %}
            </div>
            <div class="select-container">
                {% include "advert/custom-select.html" with select_id="fuel-type-select" name="fuel_type" placeholder="Паливо" options=fuel_type_list value=current_filters.fuel_type %}
            </div>
            <div class="select-container">
                <button class="submit-btn" type="submit">
                    Показати пропозиції
                </button>
            </div>
            <div class="select-container">
                <a class="submit-btn advanced-search-btn" type="submit" href="{% url 'advert:advanced-filters' %}">
                    <img src="{% static 'advert/icons/form-adding.svg' %}">
                    Розширений пошук
                </a>
            </div>
        </form>
        <span class="cards-grid-title">Останні оголошення</span>
        <div class="cards-grid">
            {% for advert in advert_list %}
                <a href="{% url 'advert:advert-detail' advert.slug %}" class="car-card">
                    <img class="card-img" src="{{ advert.transport.photos.all.0.image.url }}">
                    <div class="card-description-container">
                        <span class="card-price">{{ advert.price }} $</span>
                        <span class="card-title"> {{advert.transport.brand_model.brand.value}} {{advert.transport.brand_model.model.value}} {{advert.transport.year}}</span>
                        <span class="card-text">{{advert.transport.year}}, {{ advert.transport.mileage }}km</span>
                    </div>
                </a>
            {% empty %}
                <p class="no-adverts-message">Немає оголошень</p>
            {% endfor %}
        </div>
    </div>
    
    {% include "advert/ai-chat.html" %}

    {% include "footer.html" %}

    <script src="{% static 'advert/scripts/custom-select.js' %}"></script>
    <script src="{% static 'advert/scripts/home.js' %}"></script>
</body>
</html>