.create-advert-container {
    width: 1220px;
    margin: 70px auto;
    flex: 1;
}

.create-advert-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    row-gap: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: max-content;
    margin: 0 auto;
    padding: 31px;
    border: 1px solid #0000000f;
    border-radius: 24px;
}

.section-title{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 24px;
}

.section-number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    width: 24px;
    height: 24px;
    background-color: rgb(224, 227, 228);
    border-radius: 50%;
}

.section-title h2{
    font-weight: 600;
    font-size: 24px;
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    row-gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    row-gap: 6px;
}

.input-label {
    color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-container input {
    display: flex;
    border-radius: 8px;
    border: 1px solid #0000001f;
    padding: 10px 10px 10px 16px;
    width: 100%;
    height: 44px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    outline: none;
    transition: 0.35s all ease;
    background-color: white;
}

.input-container input:hover {
    border-color: #1890FF;
}


.fuel-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 8px;
}

.file-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 12px;
    background: #f3f7fa;
    min-height: 109px;
    width: 100%;
}

.file-container input {
    display: flex;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.file-text-area {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.file-text-area img {
    max-width: 100%;
    width: 24px;
    display: block;
}

.file-text-area span {
    color: #1890FF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.file-preview-container {
    display: none;
    width: 100%;
    grid-gap: 8px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
}

.preview-div {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    z-index: 2;
    aspect-ratio: 1 / 1;
}

.preview-div img {
    display: block;
    height: 100%;
    object-fit: cover;
}



.add-photo {
    justify-content: center;
    align-items: center;
    z-index: 0 !important;
    padding: 2px;
}

.add-photo img {
    height: 34px;
    width: 34px;
}

.add-photo span {
    color: #1890FF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.remove-photo-div {
    visibility: hidden;
    cursor: pointer;
    display: flex;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 8px;
    margin-top: 2px;
    margin-right: 2px;
    overflow: hidden;
    /* background-color: red; */
}

.preview-div:hover{
    .remove-photo-div {
        visibility: visible;
    }
}


.description-container textarea {
    border-radius: 12px;
    border: 1px solid #0000001f;
    padding: 10px;
    width: 100%;
    height: 240px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    outline: none;
    resize: none;
    transition: 0.35s all ease;
}

.description-container textarea:hover{
    border-color: #1890FF;
}

/* .price {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
} */

.section-row {
    display: flex;
    width: 100%;
    height: max-content;
    column-gap: 20px;
}

.input-container input:disabled {
    cursor: default;
    background-color: field;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    margin: 0 auto;

    cursor: pointer;
    background-color: #1890FF;
    border-radius: 12px;
    font: 16px Inter, sans-serif;
    font-weight: 500;
    color: white;
    transition: background-color 0.5s ease;
}

.submit-btn:hover {
    background-color: #007ef4;
}

.select-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    height: 44px;
}

@media (max-width: 1251px) {
    .create-advert-container {
        width: 911px;
    }
}

@media (max-width: 942px) {
    .create-advert-container {
        width: 602px;
    }
}

@media (max-width: 633px) {
    .create-advert-container {
        width: 90%;
        min-width: 293px;
    }

    .section {
        width: 100%;
    }
    
    .submit-btn {
        width: 100%;
    }

    .section-row {
        flex-direction: column;
        row-gap: 20px;
    }

    .fuel-div {
        flex-direction: column;
        row-gap: 20px;
    }

    .file-preview-container {
        grid-template-columns: repeat(auto-fit, minmax(103px, 1fr));
    }
    .add-photo span {
        font-size: 14px;
    }
}