.home-container {
    width: 1220px;
    margin: 16px auto 30px;
    flex: 1;
}

.filter-container {
    display: grid;
    width: 100%;
    grid-gap: 16px;
    grid-auto-rows: 44px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "buttons search search search"
        "select1 select2 select3 select4"
        "select5 select6 select7 select8"
        "select9 select10 select11 select12";
}

.filter-container .select-container:nth-of-type(2) {
    grid-area: select1;
}

.filter-container .select-container:nth-of-type(3) {
    grid-area: select2;
}

.filter-container .select-container:nth-of-type(4) {
    grid-area: select3;
}

.filter-container .select-container:nth-of-type(5) {
    grid-area: select4;
}

.filter-container .select-container:nth-of-type(6) {
    grid-area: select5;
}

.filter-container .select-container:nth-of-type(7) {
    grid-area: select6;
}

.filter-container .select-container:nth-of-type(8) {
    grid-area: select7;
}

.filter-container .select-container:nth-of-type(9) {
    grid-area: select8;
}

.filter-container .select-container:nth-of-type(10) {
    grid-area: select9;
}

.filter-container .select-container:nth-of-type(11) {
    grid-area: select10;
}

.filter-container .select-container:nth-of-type(12) {
    grid-area: select11;
}

.filter-container .select-container:nth-of-type(13) {
    grid-area: select12;
}


.form-button-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    justify-content: space-around;
    grid-area: buttons;
}


.form-button {
    background-color: rgb(245, 246, 247);
    color: rgb(100, 116, 139);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    line-height: normal;
    transition: all .4s ease-in-out;
}

.form-button:first-child, .form-button:last-child{
    max-width: 56px;
}

.form-button:hover{
    background-color: #eff6ff;
    color: #1890FF;
}

.form-button.selected{
    background-color: #eff6ff;
    color: #1890FF;
}

.search-form {
    position: relative;
    display: flex;
    height: 44px;
    width: 50%;
    /* width: calc((100% - 16px)*0.75 + 16px); */
    align-items: center;
    grid-area: search;
}

.search-form input {
    display: flex;
    border-radius: 8px;
    border: 1px solid #0000001f;
    padding: 10px;
    padding-left: 42px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    outline: none;
    transition: 0.35s all ease;
    background-color: white;
}

.search-form input:hover{
    border-color: #1890FF;
}

.search-btn{
    aspect-ratio: 1;
    position: absolute;
    left: 10px;
    height: 22px;
    cursor: pointer;
    background-color: transparent;
}

.search-btn img{
    width: 100%;
    height: 100%;
}

.select-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.select-container input {
    display: flex;
    align-items: center;
    border: 1px solid #0000001f;
    border-radius: 8px;
    padding: 10px;
    width: 50%;
    height: 100%;
    background-color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    transition: 0.35s all ease;
}

.select-container input:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0;
}

.select-container input:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.select-container input:hover{
    border-color: #1890FF;
    border-right-width: 1px;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #1890FF;
    gap: 10px;
    border-radius: 8px;
    font: 15px Inter, sans-serif;
    font-weight: 600;
    color: white;
    width: 100%;
    height: 100%;
    padding: 18px 0;
    margin: 0 0 32px;
    transition: background-color 0.5s ease;
}

.advanced-search-btn{
    background-color: #eff6ff;
    color: #1890FF;
}

.advanced-search-btn:hover{
    background-color: #e2eaf4 !important;
}

.submit-btn:hover{
    background-color: #007ef4;
}

/* CARDS GRID */
.cards-grid-title {
    display: flex;
    font: 20px Inter, sans-serif;
    font-weight: 600;
    color: black;
    margin: 24px 0;
}

.cards-grid {
    display: grid;
    width: 100%;
    grid-gap: 16px;
    grid-auto-rows: 260px;
    grid-template-columns: repeat(4, 1fr);
}

.car-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
}

.card-description-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-top: 10px;
}

.card-price {
    font: 16px Inter, sans-serif;
    font-weight: 600;
    color: black;
}
.card-title {
    font: 16px Inter, sans-serif;
    font-weight: 400;
    color: black;
}
.card-text {
    font: 14px Inter, sans-serif;
    font-weight: 400;
    color: #7f7f7f;
}

.no-adverts-message {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: #888;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1251px) {
    .home-container {
        width: 911px;
    }
    
    .filter-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "buttons empty empty"
            "select1 select2 select3"
            "select4 select5 select6"
            "select7 select8 select9"
            "select10 select11 select12";
    }

    .filter-container .select-container:nth-of-type(5) {
        grid-area: select6;
    }
    .filter-container .select-container:nth-of-type(7) {
        grid-area: select4;
    }
    .filter-container .select-container:nth-of-type(9) {
        grid-area: select9;
    }
    .filter-container .select-container:nth-of-type(10) {
        grid-area: select8;
    }
    .filter-container .select-container:nth-of-type(8) {
        grid-area: select10;
    }
    .filter-container .select-container:nth-of-type(11) {
        grid-area: select7;
    }

    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 942px) {
    .home-container {
        width: 602px;
    }
    
    .filter-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "buttons empty"
            "select1 select2"
            "select3 select4"
            "select5 select6"
            "select7 select8"
            "select9 select10"
            "select11 select12";
    }

    .filter-container .select-container:nth-of-type(8) {
        grid-area: select9;
    }
    .filter-container .select-container:nth-of-type(9) {
        grid-area: select8;
    }
    .filter-container .select-container:nth-of-type(10) {
        grid-area: select3;
    }
    .filter-container .select-container:nth-of-type(10) {
        grid-area: select3;
    }
    .filter-container .select-container:nth-of-type(4) {
        grid-area: select10;
    }
    .filter-container .select-container:nth-of-type(11) {
        grid-area: select7;
    }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 633px) {
    .home-container {
        width: 293px;
    }
    
    .filter-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "buttons"
            "select1"
            "select2"
            "select3"
            "select4"
            "select5"
            "select6"
            "select7"
            "select8"
            "select9"
            "select10"
            "select11"
            "select12";
    }

    .filter-container .select-container:nth-of-type(8) {
        grid-area: select9;
    }
    .filter-container .select-container:nth-of-type(9) {
        grid-area: select8;
    }
    .filter-container .select-container:nth-of-type(10) {
        grid-area: select3;
    }
    .filter-container .select-container:nth-of-type(10) {
        grid-area: select3;
    }
    .filter-container .select-container:nth-of-type(4) {
        grid-area: select10;
    }
    .filter-container .select-container:nth-of-type(11) {
        grid-area: select7;
    }

    .cards-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}