.side-bar-menu-favourite {
    background-color: #188fff0a;
    color: #1890FF;
    .blue-icon {
        display: flex;
    }
    .black-icon {
        display: none;
    }
}

.car-cards-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    row-gap: 24px;
}

.no-adverts-message {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: #888;
}

.pagination {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}

.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    color: black;
    transition: 0.35s all ease;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
}

.pagination button:hover{
    background-color: rgb(245, 246, 247);
}

#arrow-left{
    transform: rotate(90deg);
}

#arrow-right{
    transform: rotate(-90deg);
}

.current-page{
    color: #007ef4 !important; 
    border: 1px solid #0000001f;
    font-weight: 600 !important;
    font-size: 16px !important;
}