.side-bar-menu-favourite {
    background-color: #188fff0a;
    color: #1890FF;
    .blue-icon {
        display: flex;
    }
    .black-icon {
        display: none;
    }
}

.car-cards-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    row-gap: 24px;
}