.profile-container {
    display: flex;
    width: 1220px;
    height: 100%;
    margin: 30px auto;
    flex: 1;
}

.side-bar-menu-favourite {
    background-color: #188fff0a;
    color: #1890FF;
    .blue-icon {
        display: flex;
    }
    .black-icon {
        display: none;
    }
}

.content {
    flex: 1;
    height: 100%;
    padding: 20px;
    padding-left: 38px;
}

.content-header {
    display: flex;
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
}

.content-title {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.car-cards-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    row-gap: 24px;
}

.car-card {
    display: flex;
    height: max-content;
    width: 100%;
    column-gap: 20px;
}

.car-img {
    display: flex;
    height: 200px;
    width: 280px;
    border-radius: 12px;
    overflow: hidden;
}

.car-img img {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit:cover;   
}

.car-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.car-title-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.car-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.car-price-dolar {
    font: 20px Inter, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin-left: auto;
}

.car-price-hrn {
    margin-left: 20px;
    font: 15px Inter, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #9b9b9b;
}

.car-spec-row {
    display: flex;
    align-content: center;
    text-justify: center;
    margin-bottom: 10px;
}

.row-elm {
    display: block;
}

.car-spec-row p {
    align-content: center;
    text-justify: center;
}

.car-spec-row img {
    margin-right: 16px;
    width: 18px;
    height: 18px;
}

.car-spec-row p:last-child {
    margin-left: auto;
    margin-right: auto;
}

.car-about {

}

.car-bottom-row {
    display: flex;
    justify-content: space-between;
    color: #9b9b9b;
    font: 15px Inter, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-top: auto;
}

.car-bottom-row img {
    height: 18px;
    width: 19px;
}

.h-line {
    height: 1px;
    width: 100%;
    background-color: rgb(229, 229, 229);
}